
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>درباره ما</title>
    </head>
    <body>
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 mg-top-60">
            <h2 class="text-center">اینجا کجاست؟</h2>
            <br />
            <p dir="rtl">
               
               من محمد نمازی ریزی هستم فرزند یک کشاورز که با سختی های این شغل شریف 
                بخوبی آشناست.
                شما هم حتما برای تهیه میوه و غلات وسبزیجات به مغازه محلتون مراجعه میکنید 
                متاسفانه وجود دلالان و سودجویان در بازار باعث شده که خریدار و کشاورز بسیار 
                متضرر شوند بطوریکه برای مثال هندوانه ای که از کشاورز کیلویی 500 تومان خریداری میشود
                در نهایت با قیمت 2500 تومان به دست مشتری میرسد درصورتی که تمام زحمت را کشاورز میکشد اما 
                سودش به جیب دلالان میرود هدف ما از ساخت این سایت ارج نهادن به جایگاه رفیع کشاورزان 
                و تلاش برای ارایه بهترین خدمت به خریداران محترم است بطوریکه هم کشاورز زحمتکش مزد تلاشش 
                را بگیرد و هم خریدار به قیمت منصفانه محصول مورد نظر خود را خریداری کند.
            </p>
        </div>
    </body>
    </html>

