
@{
    ViewData["Title"] = "تماس باما";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>تماس با ما</title>
    </head>
    <body>
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 mg-top-60" >
            <h2 class="text-center">راه های ارتباطی</h2>
            <br />
            <p dir="rtl">

                <a href="https://www.mohamadnr93@gmail.com">mohamadnr77@gmail.com</a>
                <br />
                09103246462 
            </p>
        </div>
    </body>
    </html>

