
@{
    ViewData["Title"] = "قوانین";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>قوانین و مقررات</title>
    </head>
    <body>
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 mg-top-60">
            <h2 class="text-center">قوانین</h2>
            <br />
            <p dir="rtl">
                با سلام خدمت کاربر محترم و ممنونم که سایت ما را برای خریدتون/فروشتون انتخاب کردید.
                تمامی حقوق استفاده از ظاهر و عملکرد سایت بصورت انحصاری در خدمت محمد نمازی ریزی هست 
                هرگونه کپی برداری بدون ذکر منبع خلاف قانون میباشد
                کپی برداری با ذکر منبع بلامانع است
                سایت ما هیچگونه تعهدی در قبال اجناس فروخته شده ندارد لذا خواهشمندیم که از نهایت دقت
                در خرید خود استفاده نمایید.
                از هرگونه پرداخت وجه قبل از ملاقات با فروشندگان خوداری فرمایید.
                با تشکر
            </p>
        </div>
    </body>
    </html>

