@model Divar.Core.ViewModel.RsetPasswordViewModel

@{
    ViewData["Title"] = "Reset";
}

<div class="container">
    <div class="row">
        <div dir="rtl" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h4 class="text-center">تغییر رمز عبور</h4>
            <hr />
            <form asp-action="Reset">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Code" class="control-label"></label>*@
                    <input asp-for="Code" class="form-control" placeholder="کد تغییر رمز را وارد نمایید" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password" class="control-label"></label>*@
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور جدید را وارد نمایید" /> />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار رمز عبور جدید را وارد نمایید" /> />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تغییر" class="btn-red pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>

