@model IEnumerable<DataAccessLayer.Entites.AdvertField>

@{
    Layout = null;
}

<div>

    <table class="table table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Field.Name</td>
                    <td>@item.FieldValue</td>
                </tr>
            }
        </tbody>
    </table>

</div>
