@model Divar.Core.ViewModel.ChangePasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تغییر رمز ورود</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div dir="rtl" class="main col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h4 class="text-center">تغییر رمز عبور</h4>
            <hr />
            <form asp-action="ChengePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="CurentPassword" class="control-label"></label>*@
                    <input asp-for="CurentPassword" class="form-control" placeholder="رمز ورود فعلی را وارد نمایید" />
                    <span asp-validation-for="CurentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password" class="control-label"></label>*@
                    <input asp-for="Password" class="form-control" placeholder="رمز ورود جدید را وارد نمایید" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار رمز ورود جدید را وارد نمایید" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تغییر" class="btn-red pull-right" />
                    <a class="btn-red pull-left" asp-action="Index"> بازگشت</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
