<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>_SiteLayout</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <script src="~/js/Site.js"></script>
    <script src="~/lib/jQuery/jquery-1.10.2.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap-rtl.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a6da5501a8.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container-fluid">
        <div class="row navbar-border-bottom" style="margin-right: 30px;">
            <navbar>
             
            </navbar>
        </div>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

